form {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 30px;
}

input[type=text]:read-only {
    background-color: #fff;
}

.submitRow {
    justify-content: center;
    padding-top: 20px;
}

.updateRatesRow{
    justify-content: center;
    align-items: center;
}


.btn {
    border-radius: 0;
    width: 100%;
}

.btn-submit{
	width:50%;
}

.update-content{
    padding: 30px;
}