<div class="container">
    <div class="wrapper">

        <form action="">

            <!-- Calendar-->
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Choose Date</div>
                        </div>
                        <input type="text" name="txtDatePicker" id="txtDatePicker" class="form-control" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" readonly placeholder="Date" />
                    </div>
                </div>
            </div>

            <!-- Rate and Amount -->
            <div class="row">
                <!-- Rate -->
                <div class="col-xs-12 col-sm-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Code</div>
                        </div>
                        <input id="typeahead-focus" name="txtCode" type="text" class="form-control" [(ngModel)]="Code" [ngbTypeahead]="search" (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)" #instance="ngbTypeahead" placeholder="Code" />
                    </div>
                </div>
                <!-- Amount -->
                <div class=" col-xs-12 col-sm-7 ">
                    <div class="input-group ">
                        <div class="input-group-prepend ">
                            <div class="input-group-text ">$</div>
                        </div>
                        <input type="number" name="txtAmount " id="inlineFormGroupAmount " class="form-control " placeholder="Amount" [(ngModel)]="Amount" (keyup)="validateAmount($event)" />
                    </div>
                </div>
            </div>

            <!-- Update Rates Button -->
            <div class="row submitRow ">
                <div class="col-xs-8 ">
                    <input type="submit " class="btn btn-success " value="Update Rates" (click)="updateRates()">
                </div>
            </div>
        </form>
    </div>
</div>